<div class="flex-container">
<%= render "layouts/errors", obj: @post %>
  <h2> NEW POST ~ //新規投稿// ~ </h2>
    <div class="form-group">
      <%= form_with model: @post, url: posts_path, local: true do |f| %>
      <table class="postnew table-borderless">

        <tr>
          <td><%= f.label :shop_name, "Cafe's Name", class: "float-left" %></td>
          <td><%= f.text_field :shop_name, placeholder: "カフェの名前", autofocus: true, autocomplete: "shop_name", class: "form-control w-100" %></td>
        </tr>

        <tr>
          <td><%= f.label :Photo, class: "float-left" %></td>
          <td><%= f.file_field :image, placeholder: "写真を選んでください", autofocus: true %></td>
        </tr>

        <tr>
          <td><%= f.label :Text, class: "float-left" %></td>
          <td><%= f.text_area :body, placeholder: "何かコメントがあれば...", autofocus: true, autocomplete: "body", class: "form-control", size: "50x10" %></td>
        </tr>
        <!-- 評価 -->
        <tr>
          <th><%= f.label :Rate, "Recommend?", class: "float-left" %></th>
          <td id="star">
              <%= f.hidden_field :rate, id: :review_star, class: "form-control" %>
          </td>
        </tr>
        <!-- 評価javascript -->
        <script>
        // debugger;
          $('#star').raty({
            size    :  36,
            starOff :  '<%= asset_path('star-off.png') %>',
            starOn  :  '<%= asset_path('star-on.png') %>',
            starHalf:  '<%= asset_path('star-half.png') %>',
            scoreName: 'post[rate]',
            // postモデルのrateカラムに値を保存
            half: true,
            // 星の半分の入力を行う
          });
        </script>

        <tr>
          <td><%= f.label :Area, class: "float-left" %></td>
          <td><%= f.collection_select(:area_id, @areas, :id, :area, :prompt => "--エリアを選択してください--") %></td>
        </tr>

        <tr>
          <td><%= f.label :Location, class: "float-left" %></td>
          <td><%= f.text_field :location, placeholder: "位置情報", autofocus: true, autocomplete: "location", class: "form-control w-100" %></td>
        </tr>

        <tr>
          <td></td>
          <td><%= f.submit "POST NEW", class: "btn btn-outline-primary" %></td>
        </tr>

      </table>
      <% end %>

    </div>
</div>