<!-- ユーザーがログインしている場合 -->
<% if user_signed_in? %>

<!-- 投稿詳細ページ -->
<div class="card-container">
  <div class="row">
    <div class="col">
      <!-- ページタイトル -->
      <h1 class="text-center pt-5"> THIS POST DETAIL <i class="fas fa-camera-retro"></i></h1>

      <div class="card w-75 mx-auto mt-5 mb-5 p-3 shadow-lg border-secondary text-center" style="background: #d4d9df;">
        <!--カフェの名前（投稿のヘッダー）-->
        <div class="card-header text-light mb-3" style="background: #9fa09e;" >
          <strong><%= @post.shop_name %></strong>
        </div>
        <!-- 投稿写真（メイン） -->
          <%= image_tag @post.image %>

        <div class="card-body">
          <!-- 投稿のタイトル＝カフェの名前 -->
          <h4 class="card-title mt-3">
            <i class="fas fa-mug-hot"></i> CAFE's NAME： <%= @post.shop_name %>
          </h4>
          <!-- 投稿ユーザー情報 -->
          <div class="card-text">
            <strong> POSTED BY：</strong>
            <!-- 投稿ユーザのプロフィール画像（ない場合はデフォルト画像を表示） -->
            <% if @post.user.profile_image.attached? %>
              <%= image_tag @post.user.profile_image.variant(resize:'100x100'), class:"mt-3 rounded-circle"; %>
            <% else %>
              <%= image_tag 'no_image.jpg', size: '100x100', class:"mt-3 rounded-circle"; %>
            <% end %>
            <p><%= link_to @post.user.name, user_path(@user.id), class: "user_#{@user.id} text-dark" %></p>
          </div>
          <!-- 投稿日 -->
          <div class="card-text mt-3">
            <strong>POSTED ON：</strong> <%= @post.created_at.strftime("%Y/%m/%d %H:%M") %>
          </div>
          <!-- 投稿テキスト本文（改行をそのまま表示） -->
          <div class="card-text mt-3">
            <strong>CONTENT：</strong> <%=safe_join(@post.body.split("\n"),tag(:br))%>
            <!--<%#=simple_format(@post.body)%>-->
          </div>
          <!-- おすすめ度（星評価） -->
          <div class="card-text mt-3">
            <!--繰り返し処理をしてもidを一意に保てるよう@post.idを埋め込む-->
            <strong>RECOMMENDED FOR：</strong>
                <div id="star-rate-<%= @post.id %>"></div>
                <script>
                  $('#star-rate-<%= @post.id %>').raty ({
                    size     :  36,
                    starOff  :  '<%= asset_path('star-off.png') %>',
                    starOn   :  '<%= asset_path('star-on.png') %>',
                    starHalf :  '<%= asset_path('star-half.png') %>',
                    // 星の半分の入力を行う
                    half     :  true,
                    // 読み取り専用
                    readOnly :  true,
                    // 星の入力値を読み込む
                    score    :  <%= @post.rate %>,
                  });
                </script>
          </div>
          <!-- エリア名 -->
          <div class="card-text mt-3">
            <strong>AREA：</strong> <%= @post.area.area %>エリア
          </div>
          <!-- 位置情報 -->
          <div class="card-text mt-3 mb-3">
            <strong>LOCATION：</strong> <%= @post.location %>
          </div>
          <!-- いいねボタン（非同期通信） -->
          <div id="likes_buttons_<%= @post.id %>"><strong>REACT（LIKES）：</strong>
            <%= render partial: 'users/likes/like', locals: {post: @post} %>
          </div>
          <!-- コメント数のカウント -->
          <div class="card-text mt-3">
            <strong>REACT（COMMENTS）：</strong> <%= @post.comments.count %>
          </div>
          <!-- この投稿のユーザーがログインユーザーなら編集・削除ボタンを表示 -->
          <% if @post.user_id == current_user.id %>
          <div class="card-text mt-5">
            <strong>You want..?</strong>
          </div>
          <div class="card-text mt-3">
            <p> <!-- 編集ボタン -->
              <%= link_to edit_post_path(@post), class:"btn btn-outline-success w-25" do %>
                <i class="fas fa-edit"></i> POST EDIT
              <% end %>
            </p>
            <p> <!-- 削除ボタン -->
              <%= link_to post_path(@post), method: :delete, data: { confirm: '本当に消してもよろしいですか？' }, class: "btn btn-outline-danger w-25" do %>
                <i class="fas fa-trash-alt"></i> POST DESTROY
              <% end %>
            </p>
          </div>
          <% end %>

          <!-- コメント一覧を表示 -->
          <div id="comments_area">
            <%= render partial: 'users/comments/index', locals: {post: @post, comments: @comments} %>
          </div>

          <!-- ユーザーがログインしていれば、コメントフォームを表示 -->
          <% if user_signed_in? %>
            <%= render partial: 'users/comments/form', locals: {post: @post, comment: @comment} %>
          <% end %>

        </div>
        <!-- 投稿日（投稿のフッター） -->
        <div class="card-footer text-light mt-2" style="background: #9fa09e;" >
          craeated at <%= @post.created_at %>
        </div>
      </div>

    </div> <!--col-->
  </div> <!--row-->
</div> <!--container-->


<!-- ユーザーがログインしていない場合 -->
<% else %>

<!-- 投稿詳細ページ -->
<div class="card-container">
  <div class="row">
    <div class="col">
      <!-- ページタイトル -->
      <h1 class="text-center pt-5"> THIS POST DETAIL <i class="fas fa-camera-retro"></i></h1>

      <div class="card w-75 mx-auto mt-5 mb-5 p-3 shadow-lg border-secondary text-center" style="background: #eee9e6;">
        <!--カフェの名前（投稿のヘッダー）-->
        <div class="card-header mb-3 text-light" style="background: #6c3524;" >
          <strong><%= @post.shop_name %></strong>
        </div>
        <!-- 投稿写真（メイン） -->
          <%= image_tag @post.image %>

        <div class="card-body">
          <!-- 投稿のタイトル＝カフェの名前 -->
          <h4 class="card-title mt-3">
            CAFE's NAME：<i class="fas fa-mug-hot"> <%= @post.shop_name %> </i>
          </h4>
          <!-- 投稿ユーザー情報 -->
          <div class="card-text">
            <strong> POSTED BY：</strong>
            <!-- 投稿ユーザのプロフィール画像（ない場合はデフォルト画像を表示） -->
            <% if @post.user.profile_image.attached? %>
              <%= image_tag @post.user.profile_image.variant(resize:'100x100'), class:"mt-3 rounded-circle"; %>
            <% else %>
              <%= image_tag 'no_image.jpg', size: '100x100', class:"mt-3 rounded-circle"; %>
            <% end %>
            <p><%= @post.user.name %></p>
          </div>
          <!-- 投稿日 -->
          <div class="card-text mt-3">
            <strong>POSTED ON：</strong> <%= @post.created_at.strftime("%Y/%m/%d %H:%M") %>
          </div>
          <!-- 投稿テキスト本文（改行をそのまま表示） -->
          <div class="card-text mt-3">
            <strong>CONTENT：</strong> <%=safe_join(@post.body.split("\n"),tag(:br))%>
          </div>
          <!-- おすすめ度（星評価） -->
          <div class="card-text mt-3">
            <!--繰り返し処理をしてもidを一意に保てるよう@post.idを埋め込む-->
            <strong>RECOMMENDED FOR：</strong>
                <div id="star-rate-<%= @post.id %>"></div>
                <script>
                  $('#star-rate-<%= @post.id %>').raty ({
                    size     :  36,
                    starOff  :  '<%= asset_path('star-off.png') %>',
                    starOn   :  '<%= asset_path('star-on.png') %>',
                    starHalf :  '<%= asset_path('star-half.png') %>',
                    // 星の半分の入力を行う
                    half     :  true,
                    // 読み取り専用
                    readOnly :  true,
                    // 星の入力値を読み込む
                    score    :  <%= @post.rate %>,
                  });
                </script>
          </div>
          <!-- エリア名 -->
          <div class="card-text mt-3">
            <strong>AREA：</strong> <%= @post.area.area %>エリア
          </div>
          <!-- 位置情報 -->
          <div class="card-text mt-3">
            <strong>LOCATION：</strong> <%= @post.location %>
          </div>
          <!-- いいね数(いいねできない) -->
          <div class="card-text mt-3">
            <strong>USER RESPONSE（LIKES）：</strong><i class="fas fa-heart" style="color: #a73836;"></i> <%= @post.likes.count %>
          </div>
          <!-- コメント数(コメントできない) -->
          <div class="card-text mt-3">
            <strong>USER RESPONSE（COMMENTS）：</strong> <%= @post.comments.count %>
          </div>
          
          <!-- 投稿のコメント一覧 -->
          <table class="table table-hover text-center mt-5 mb-5">
            <thead class="thead-dark">
              <tr>
                <th scope="col">USER NAME</th>
                <th scope="col">COMMENT</th>
              </tr>
            </thead>
            <% @post.comments.each do |comment| %>
            <tbody>
              <tr>
                <td><%= comment.user.name %></td>
                <td><%= comment.comment %></td>
              </tr>
            </tbody>
            <% end %>
          </table>

        </div>
        <!-- 投稿日（投稿のフッター） -->
        <div class="card-footer text-light mt-2" style="background: #6c3524;" >
          craeated at <%= @post.created_at %>
        </div>
      </div>

    </div> <!--col-->
  </div> <!--row-->
</div> <!--container-->

<% end %>