<!-- ユーザー情報編集ページ -->
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <!-- ページタイトル -->
      <h3 class="text-center pt-5">What would you like to edit <i class="fas fa-question"></i></h3>

      <%= form_with model: @user, url: user_path, method: :patch, local: true do |f| %>
      <!-- プロフィール画像 -->
      <div class="form-label pt-5" >
        <%= f.label :profile_image, "Profile Image", class: "float-left" %>
      </div>
      <div class="form-group">
        <%= f.file_field :profile_image, autofocus: true %>
      </div>
      <!-- ニックネーム -->
      <div class="form-label pt-2" >
        <%= f.label :Nickname, class: "float-left" %>
      </div>
      <div class="form-group">
        <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control w-100" %>
      </div>
      <!-- メールアドレス -->
      <div class="form-label pt-2" >
        <%= f.label :Email, class: "float-left"  %>
      </div>
      <div class="form-group">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control w-100" %>
      </div>
      <!-- 自己紹介文 -->
      <div class="form-label pt-2" >
        <%= f.label :Introduction, class: "float-left" %>
      </div>
      <div class="form-group">
        <%= f.text_area :introduction, autofocus: true, autocomplete: "introduction", class: "form-control w-100" %>
      </div>
      <!-- 変更保存ボタン -->
      <div class="text-center mt-5">
        <%= f.submit "UPDATE INFO.", class: "btn btn-outline-dark w-50" %>
      </div>
      <!-- 退会ボタン -->
      <div class="text-center mt-5 mb-5">
        <%= link_to users_unsubscribe_path, class: "btn btn-outline-danger w-50" do %>
          <i class="fas fa-user-slash"> WITHDRAW(退会)</i>
        <% end %>
      </div>
      <% end %>
      <!-- マイページに戻る -->
      <div class="row mb-5">
        <%= link_to user_path(@user) do %>
          <i class="fas fa-backward text-dark"> BACK </i>
        <% end %>
  	  </div>

    </div> <!--col-->
  </div> <!--row-->
</div> <!--container-->