<!-- ユーザーマイページ -->
<div class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <!-- ページタイトル -->
      <h1 class="text-center pt-5">USER INFO. <i class="fas fa-user-lock"></i></h1>

      <!-- ユーザープロフィール画像 -->
      <h4 class="text-center mt-5 mb-3">Profile Image：</h4>
      <div class="text-center">
        <% if @user.profile_image.attached? %>
          <%= image_tag @user.profile_image.variant(resize:'200x200') %>
        <% else %>
          <%= image_tag 'no_image.jpg', size:'200x200' %>
        <% end %>
      </div>
      <!-- ユーザーニックネーム -->
      <h4 class="text-center mt-3 mb-3">Nickname：</h4>
      <div class="text-center"><strong><%= @user.name %></strong></div>
      <!-- ユーザー登録メールアドレス -->
      <h4 class="text-center mt-3 mb-3">E-Mail：</h4>
      <div class="text-center"><strong><%= @user.email %></strong></div>
      <!-- ユーザー情報編集ボタン -->
      <div class="text-center mt-5">
        <%= link_to edit_users_path, class: "btn btn-outline-success w-50" do %>
          <i class="fas fa-user-edit"></i> EDIT
        <% end %>
      </div>

    </div>
  </div>

  <!-- ユーザーの投稿一覧を表示 -->
  <div class="row mt-5">
    <div class="col">
      <!--ページのサブタイトル-->
      <h3 class="text-center pt-5 mb-5">YOUR POST LIST <i class="fas fa-list-ul"></i></h3>

      <% @posts.each do |post| %>
      <div class="card w-50 mx-auto mt-4 mb-5 shadow-lg border-secondary p-2 text-center" style="background: #d3cbc6;">
        <!--エリア名（投稿のヘッダー）-->
        <div class="card-header text-light mt-1 mb-3" style="background: #6f514c;">
          <%= post.area.area %> エリア
        </div>

        <!-- 投稿写真（メイン） -->
        <div class="bd-placeholder-img card-img-top" width="100%" height="50">
        <%= link_to post_path(post.id) do %>
          <%= image_tag post.image, class:"card-img-top"; %>
        <% end %>
        </div>

        <div class="card-body">
          <!-- 投稿のタイトル＝カフェの名前 -->
          <h4 class="card-title">
             <%= link_to post_path(post.id), class:"text-secondary" do %>
                <i class="fas fa-coffee"> <%= post.shop_name %> </i>
              <% end %>
          </h4>
          <!-- いいねボタン（非同期通信） -->
          <div class="card-subtitle text-right" >
            <div id="likes_buttons_<%= post.id %>">
              <%= render partial: 'users/likes/like', locals: {post: post} %>
            </div>
          </div>
          <!-- 投稿ユーザー名＝自分 -->
          <div class="card-text">
            <p>by. <%= post.user.name %></p>
          </div>
        </div>

        <!--投稿日（投稿のフッター）-->
        <div class="card-footer text-light" style="background: #6f514c;">
          <i class="fas fa-calendar-day"> <%= post.created_at.strftime("%Y/%m/%d %H:%M") %> </i>
        </div>
      </div>
      <% end %>
    </div>

  </div>
  <!--ページネーション-->
  <div class="pagination justify-content-center"><%= paginate @posts %></div>
</div>