<%= render "admins/shared/error_messages", resource: resource %>

<div class="container">
  <div class="form_group form_inline row">
    <div class="">
      <h2> SIGN UP ~// 管理者用新規登録 //~ </h2>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <table class="table table-borderless">
        <tr>
          <td><%= f.label :メールアドレス, class: "float-left" %></td>
          <td><%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form_control form-control-md w-100" %></td>
        </tr>
        <tr>
          <td><%= f.label :パスワード６文字以上, class: "float-left" %></td>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
          <td><%= f.password_field :password,  autocomplete: "new-password", class: "form_control form-control-md w-100" %></td>
        </tr>
        <tr>
          <td><%= f.label :パスワード（確認用）, class: "float-left" %></td>
          <td><%= f.password_field :password_confirmation,  autocomplete: "new-password", class: "form_control form-control-md w-100" %></td>
        </tr>
        <tr>
          <td></td>
          <td><%= f.submit "SIGN UP", class: "btn btn-outline-primary" %></td>
        </tr>
      </table>
      <% end %>
    </div>
  </div>
</div>

<%= render "admins/shared/links" %>