<!-- 管理者用 ユーザー情報編集ページ -->
<div class="container">
  <div class="row">
    <div class="col">
      <!-- ページタイトル -->
      <h3 class="text-center pt-5">
        <i class="fas fa-user-circle"></i> <%= @user.name %>'s USER INFO.<br />
        What would you like to edit <i class="fas fa-question"></i></h3>

      <%= form_with model: @user, url: admins_user_path, local: true do |f| %>
      <form>
        <!-- プロフィール画像 -->
        <div class="row pt-5 mb-3">
          <%= f.label :profile_image, "Profile Image", class: "col-sm-2 col-form-label" %>
          <div class="col-sm-10">
            <%= f.file_field :profile_image, autofocus: true %>
          </div>
        </div>
        <!-- ニックネーム -->
        <div class="row pt-5 mb-3">
           <%= f.label :name, "NICKNAME", class: "col-sm-2 col-form-label" %>
          <div class="col-sm-10">
            <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control w-75" %>
          </div>
        </div>
        <!-- メールアドレス -->
        <div class="row pt-5 mb-3">
          <%= f.label :email, "E-MAIL", class: "col-sm-2 col-form-label" %>
          <div class="col-sm-10">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control w-75" %>
          </div>
        </div>
        <!-- 自己紹介文 -->
        <div class="row pt-5 mb-3">
          <%= f.label :introduction, "INTRODUTION", class: "col-sm-2 col-form-label" %>
          <div class="col-sm-10">
            <%= f.text_area :introduction, autofocus: true, autocomplete: "introduction", class: "form-control w-100" %>
          </div>
        </div>
        <!-- ユーザーステータス -->
        <div class="row pt-5 mb-3">
          <%= f.label :status, "USER STATUS", class: "col-sm-2 col-form-label" %>
          <div class="col-sm-10"> <!-- ラジオボタンでステータス選択 -->
            <%= f.radio_button :is_deleted, false %> <span> 有効 </span>
            <%= f.radio_button :is_deleted, true %> <span> 退会 </span>
          </div>
        </div>
        <!-- 変更保存ボタン -->
        <div class="text-center mt-5">
          <%= f.submit "UPDATE INFO.", class: "btn btn-outline-success w-25" %>
        </div>

      </form>
      <% end %>
      <!-- ユーザーの詳細ページに戻る -->
      <div class="row mt-5 mb-5">
        <%= link_to  admins_user_path(@user.id) do %>
          <i class="fas fa-backward text-dark"> BACK </i>
        <% end %>
  	  </div>

    </div>
  </div>
</div>
