<div class="container">
  <div class="row">
    <div class="col">
      <h4 class=""> "EDIT" ~ <%= @user.name %>さんの USER INFO. ~ </h4>
      <%= form_with model: @user, url: admins_user_path, local: true do |f| %>
      <table class="edituser table-borderless">
        <tr>
          <td><%= f.label :USER_ID, class: "float-left" %></td>
          <td><%= @user.id %></td>
        </tr>
        <tr>
          <td><%= f.label :NICKNAME, class: "float-left" %></td>
          <td><%= f.text_field :name, class: "form_control" %></td>
        </tr>
        <tr>
          <td><%= f.label :EMAIL, class: "float-left" %></td>
          <td><%= email_field :email, class* "form_control" %></td>
        </tr>
        <tr>
          <td><%= f.label :STATUS, class: "float-left" %></td>
          <td>
            <!-- ラジオボタンでステータス選択 -->
            <%= radio_button :is_deleted, false %><span> 有効 </span>
            <%= radio_button :is_deleted, true %><span> 退会 </span> 
          </td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td><%= f.submit "UPDATE", class: "btn btn-outline-success" %></td>
        </tr>
      </table>
      <% end 
    </div>
  </div>
</div>