<div class="container">
  <div class="row">
    <div class="col">
      <h4 class=""><%= @user.name %>さんのUSER INFO.</h4>
      <table class="userinfo table-borderless table-hover">
        <tr>
          <th> プロフィール画像 : </th>
          <td>
            <% if @user.profile_image.attached? %>
              <%= image_tag @user.profile_image.variant(resize:'150x150') %>
            <% else %>
              <%= image_tag 'no_image.jpg', size:'150x150' %>
            <% end %>
          </td>
        </tr>
        <tr>
          <th> ユーザID : </th>
          <td><%= @user.id %></td>
        </tr>
        <tr>
          <th> ニックネーム : </th>
          <td><%= @user.name %></td>
        </tr>
        <tr>
          <th> メールアドレス : </th>
          <td><%= @user.email %></td>
        </tr>
        <tr>
          <th> ユーザステータス : </th>
          <td>
            <!-- ユーザステータス/ 退会フラグで条件分岐 -->
            <% if @user.is_deleted == true %>
              <div class="text-secondary"> 退会済 </div>
            <% else %>
              <div class="text-success"> 有効 </div>
            <% end %>
          </td>
        </tr>
        <tr>
          <td></td>
          <td><%= link_to "EDIT", edit_admins_user_path(@user.id), class: "btn btn-outline-success" %></td>
          <td><%= link_to "USER's ALL POSTs", admins_posts_path(@user.id), class: "btn btn-outline-primary" %></td>
        </tr>
      </table>
    </div>
  </div>
</div>