<!-- 管理者閲覧用 投稿詳細ページ -->
<div class="card-container">
  <div class="row">
    <div class="col">
      <!-- ページタイトル -->
      <h1 class="text-center pt-5"> THIS POST DETAIL <i class="fas fa-camera-retro"></i></h1>

      <div class="card w-100 mx-auto mt-5 mb-5 p-3 shadow-lg border-secondary text-center" style="background: #ede4e1;">
        <!--カフェの名前（投稿のヘッダー）-->
        <div class="card-header text-light mb-3" style="background: #96514d;" >
          <strong><%= @post.shop_name %></strong>
        </div>
        <!-- 投稿写真（メイン） -->
          <%= image_tag @post.image %>

        <div class="card-body">
          <!-- 投稿のタイトル＝カフェの名前 -->
          <h4 class="card-title mt-3">
            <i class="fas fa-mug-hot faa-bounce animated"></i> CAFE's NAME： <%= @post.shop_name %>
          </h4>
        </div>
        
        <ul class="list-group list-group-flush">
          <!-- おすすめ度（星評価） -->
          <li class="list-group-item" style="background: #ede4e1;">
            <!--繰り返し処理をしてもidを一意に保てるよう@post.idを埋め込む-->
            <strong>RECOMMENDED FOR：</strong>
              <div id="star-rate-<%= @post.id %>"></div>
                <script>
                  $('#star-rate-<%= @post.id %>').raty ({
                    size     :  36,
                    starOff  :  '<%= asset_path('star-off.png') %>',
                    starOn   :  '<%= asset_path('star-on.png') %>',
                    starHalf :  '<%= asset_path('star-half.png') %>',
                    // 星の半分の入力を行う
                    half     :  true,
                    // 読み取り専用
                    readOnly :  true,
                    // 星の入力値を読み込む
                    score    :  <%= @post.rate || 0 %>
                  });
                </script>
          </li>
          <!-- 投稿テキスト本文（改行をそのまま表示） -->
          <li class="list-group-item" style="background: #ede4e1;">
            <strong>CONTENT：</strong> <%=safe_join(@post.body.split("\n"),tag(:br))%>
            <!--<%#=simple_format(@post.body)%>-->
          </li>
          <!-- エリア名 -->
          <li class="list-group-item" style="background: #ede4e1;">
            <strong>AREA：</strong> <%= @post.area.area %>エリア
          </li>
          <!-- 位置情報 -->
          <li class="list-group-item" style="background: #ede4e1;">
            <strong>LOCATION：</strong> <%= @post.location %>
          </li>
          <!-- 投稿ユーザー情報 -->
          <li class="list-group-item" style="background: #ede4e1;">
            <strong> POSTED BY：</strong>
            <!-- 投稿ユーザのプロフィール画像（ない場合はデフォルト画像を表示） -->
            <% if @post.user.profile_image.attached? %>
              <%= image_tag @post.user.profile_image.variant(resize:'100x100'), class:"mt-3 rounded-circle"; %>
            <% else %>
              <%= image_tag 'no_image.jpg', size: '100x100', class:"mt-3 rounded-circle"; %>
            <% end %>
            <!-- ユーザー名（ユーザー詳細ページへのリンク） -->
            <p><%= link_to @post.user.name, admins_user_path(@user.id), class: "user_#{@user.id} text-dark" %></p>
          </li>
          <!-- 投稿日 -->
          <li class="list-group-item" style="background: #ede4e1;">
            <strong>POSTED ON：</strong> <%= @post.created_at.strftime("%Y/%m/%d %H:%M") %>
          </li>
          <!-- いいね数 -->
          <li class="list-group-item" style="background: #ede4e1;">
            <strong>USER RESPONSE（LIKES）：</strong><i class="fas fa-heart" style="color: #a73836;"></i> <%= @post.likes.count %>
          </li>
          <!-- コメント数 -->
          <li class="list-group-item" style="background: #ede4e1;">
            <strong>USER RESPONSE（COMMENTS）：</strong> <%= @post.comments.count %>
          </li>
        </ul>

        <div class="card-body">
          <!-- 不適切な内容を含みますか？ -->
          <div class="card-text mt-5">
            <strong>content that is inappropriate ? </strong>
          </div>
          <!-- 削除ボタン -->
          <div class="card-text mt-5 mb-3">
            <%= link_to admins_post_path(@post), method: :delete, data: { confirm: '本当に消しますか？' }, class:"btn btn-outline-danger w-25" do %>
              <i class="fas fa-trash"></i> DESTROY
            <% end %>
          </div>

          <div class="mt-5 mb-4">
            <strong>COMMENT ALL <i class="fas fa-arrow-down faa-float animated"></i></strong>
          </div>
          <!-- この部分だけスクロールできるように -->
          <div class="scroll">
            <!-- 投稿のコメント一覧 -->
            <table class="table table-hover text-center mt-5 mb-5">
              <thead class="thead-dark">
                <tr>
                  <!-- ユーザー名 -->
                  <th scope="col">USER NAME</th>
                  <!-- コメント -->
                  <th scope="col">COMMENT</th>
                  <!-- 不適切な内容を含みますか？ -->
                  <th scope="col">content that is inappropriate ?</th>
                </tr>
              </thead>
              <% @post.comments.each do |comment| %>
              <tbody>
                <tr>
                  <!-- ユーザー名（ユーザー詳細ページへのリンク） -->
                  <td><%= link_to comment.user.name, admins_user_path(@user.id), class: "user_#{@user.id} text-dark" %></td>
                  <!-- コメント内容 -->
                  <td><%= comment.comment %></td>
                  <!-- 削除ボタン -->
                  <td><%= link_to "DESTROY", admins_comment_path(comment), method: :delete, data: { confirm: '本当に消しますか？' }, class: " btn btn-outline-danger" %></td>
                </tr>
              </tbody>
              <% end %>
            </table>
          </div>

        </div>
        <!-- 投稿日（投稿のフッター） -->
        <div class="card-footer text-light mt-2" style="background: #96514d;">
          craeated at <%= @post.created_at %>
        </div>
      </div>

    </div> <!--col-->
  </div> <!--row-->
</div> <!--container-->