<div class="container">
  <div class="row mt-5 mb-5">
    <div class="col">
      <!-- ページタイトル -->
      <h1 class="text-center pt-5">
        Welcome to "CAWS" <i class="fas fa-desktop"></i> SITE! <br />
        I hope you find your favorite cefe and enjoy <i class="fas fa-hand-holding-heart"></i>
      </h1>
    </div>
  </div>
  <div class="row mt-5 mb-5">
    <div class="col">
      <ul class="slider">
        <li class="img"><%= image_tag('caws_top1.png') %></li>
        <li class="img"><%= image_tag('caws_top2.png') %></li>
        <li class="img"><%= image_tag('caws_top3.png') %></li>
        <li class="img"><%= image_tag('caws_top4.png') %></li>
        <li class="img"><%= image_tag('caws_top5.png') %></li>
        <li class="img"><%= image_tag('caws_top6.png') %></li>
        <li class="img"><%= image_tag('caws_top7.png') %></li>
        <li class="img"><%= image_tag('caws_top8.png') %></li>
      </ul>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>