<header>
  <nav class="navbar navbar-expand-lg navbar-light" >
    <nav class="navbar-brand navbar-left header-logo" >
      <%= link_to root_path do %>
        <i class="fas fa-coffee text-secondary"> CAWS </i>
      <% end %>
    </nav>
    <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">-->
    <!--  <span class="navbar-toggler-icon"></span>-->
    <!--</button>-->
    <!--<div class="collapse navbar-collapse" id="navbarNavDropdown">-->
    <!--  <ul class="nav navbar-nav ml-auto">-->

    <ul class="navbar-menu">
    <!-- ユーザーがログインしているとき -->
    <% if user_signed_in? %>
      <li class="nav-item">
        <%= link_to users_path do %>
          <i class="fas fa-id-card"> MY PAGE </i>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to likes_users_path do %>
          <i class="fas fa-hand-holding-heart"> FAVORITES </i>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to posts_path do %>
          <i class="fas fa-quran"> 投稿一覧 </i>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to new_post_path do %>
          <i class="fas fa-edit"> 新規投稿 </i>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to destroy_user_session_path, method: :delete do %>
          <i class="fas fa-sign-out-alt"> LOG OUT </i>
        <% end %>
      </li>
      <li class="nav-item">
        <%= render 'layouts/search' %>
      </li>

    <!-- 管理者がログインしているとき -->
    <% elsif admin_signed_in? %>
      <li class="nav-item">
        <%= link_to admins_posts_path do %>
          <i class="fas fa-paste"> 投稿一覧 </i>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to admins_users_path do %>
          <i class="fas fa-users-cog"> 会員一覧 </i>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to admins_areas_path do %>
          <i class="fas fa-map-marked-alt"> エリア一覧 </i>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to destroy_admin_session_path, method: :delete do %>
          <i class="fas fa-sign-out-alt"> LOG OUT </i>
        <% end %>
      </li>
      <li class="nav-item">
        <%= render 'layouts/admins_search' %>
      </li>

    <!-- ログインしていないとき -->
    <% else %>
      <li class="nav-item">
        <%= link_to posts_path do %>
          <i class="fas fa-quran"> 投稿一覧 </i>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to new_user_registration_path do %>
          <i class="fas fa-user-edit"> 新規登録 </i>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to new_user_session_path do %>
          <i class="fas fa-sign-in-alt"> LOG IN </i>
        <% end %>
      </li>
      <li class="nav-item">
        <%= render 'layouts/admins_search' %>
      </li>

    <% end %>
    </ul>

  </nav>
</header>
