<%= render "users/shared/error_messages", resource: resource %>

<div class="container">
  <div class="row">
    <div class="col">
      <h3> SIGN UP ~// 新規会員登録 //~ </h3>
      <%= form_with model: @user, url: user_registration_path, local: true do |f| %>
      <table class="usernew table-borderless">
        <tr>
          <td><%= f.label :ニックネーム, class: "float-left" %></td>
          <td><%= f.text_field :name, placeholder: "NICKNAME", autofocus: true, autocomplete: "name", class: "form_control w-100" %></td>
        </tr>
        <tr>
          <td><%= f.label :メールアドレス, class: "float-left" %></td>
          <td><%= f.email_field :email, placeholder: "E-MAIL", autofocus: true, autocomplete: "email", class: "form_control w-100" %></td>
        </tr>
        <tr>
          <td>
            <%= f.label :パスワード６文字以上, class: "float-left" %></td>
          <td><%= f.password_field :password, placeholder: "PASSWORD", autocomplete: "new-password", class: "form_control w-100" %></td>
        </tr>
        <tr>
          <td><%= f.label :パスワード（確認用）, class: "float-left" %></td>
          <td><%= f.password_field :password_confirmation, placeholder: "PASSWORD", autocomplete: "new-password", class: "form_control w-100" %></td>
        </tr>
        <tr>
          <td></td>
          <td><%= f.submit "新規登録", class: "btn btn-outline-primary" %></td>
        </tr>
      </table>
      <% end %>
    </div>
  </div>
  <div>
    <div>すでに登録済みの方</div>
    <div><%= link_to("こちら", new_user_session_path ) %>からログインしてください。</div>
  </div>
</div>
